.about_intro{
    width: 95%;
    margin-left: 2.5%;
    border-radius: 40px;
    height: 90vh; 
    background-color: #eefcfd;    
    border-bottom-right-radius: 170px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 150px;
    margin-top: 450px;
}
.about_intro img{
    height: 55vh;
    width: 80%;
    object-fit: contain;
    /* border: 2px solid white; */
    border-bottom-right-radius: 170px;
    border-top-left-radius: 170px;
    border-top-right-radius: 70px;
    border-top-left-radius: 170px;
    margin-top: -300px;
    border: 7px solid white;
    background-color: #096873;
    padding: 20px;
}

.intro_features{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 4rem;
    margin-top: 4rem;
}


.about_feature_left h1{
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 2rem;
    line-height: 70px;
    color: #0A96A6;
}
.about_feature_left p{
    width: 65%;
    font-size: 20px;
    font-weight: 200;
}
.about_feature_right p{
    font-size: 30px;
    width: 80%;
    font-weight: 300;
    line-height: 40px;
    margin-bottom: 20px;
}
.about_feature_right h3{ color: #0A96A6;}
@media(max-width: 900px){
    .intro_features{flex-direction: column;}
    .about_intro{height: auto;}
    .about_feature_right p{ margin-top: 5rem;}
}
@media(max-width: 500px){
    .about_feature_left p{
        width: 100%;
        font-size: 18px;
    }
    .about_feature_right p{
        font-size: 25px;
        width: 100%;
    }
    .intro_features{margin: 0 1rem;}
}